# Dependencies
node_modules/

# Environment Variables
.env

# Generated build output
/build_output.txt

# Logs
*.log

# Local/generated market-data archives
apps/market-data/db/seeds/synthetic-market-data-2026-v1/
apps/business-backend/db/seeds/synthetic-market-data-2026-v1/
apps/market-data/db/.venv/
*.parquet
*.manifest.json
apps/market-data/db/seeds/.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code Settingss
.vscode/

# Python
.venv/
__pycache__/
__pycachee__/
*.pyc

# Compiled java classes
*.class

# java build output
target/
build/
out/

# Angular build cache and output
.angular/
dist/

# TypeScript build artifacts
*.tsbuildinfo

# package Files
*.jar
*.war
*.ear

# Maven 
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
.gradle/
!gradle-wrapper.jar

#IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr


