:host {
  display: block;
}

.symbol-grid {
  grid-template-columns: minmax(0, 1.2fr) minmax(0, 0.7fr) minmax(0, 1fr) minmax(0, 1.2fr);
}

.account-grid {
  grid-template-columns:
    minmax(0, 1.3fr)
    minmax(0, 1.3fr)
    minmax(0, 0.7fr)
    minmax(0, 0.7fr)
    minmax(0, 0.8fr);
}
